%section#intro
  .container
    .row.text-center
      .col-md-12
        .row.text-center.pad-row
          .col-md-4.col-sm-4
            %h3
              %strong Солина Любовь Юрьевна
            %p
              Директор
              %a{href: 'tel:71-24-32'} 71-24-32
          .col-md-4.col-sm-4
            %h3
              %strong Захаров Валерий Петрович
            %p
              Зам. директора
              %a{href: 'tel:71-20-15'} 71-20-15
          .col-md-4.col-sm-4
            %h3
              %strong Рябцевич Сергей Адамович
            %p
              Инженер
              %a{href: 'tel:71-20-17'} 71-20-17


          .col-md-4.col-sm-4
            %h3
              %strong Мастер жилищного фонда
            %p
              %a{href: 'tel:71-20-19'} 71-20-19
          .col-md-4.col-sm-4
            %h3
              %strong Тихомирова Лариса Александровна
            %p
              Паспортный стол
              %a{href: 'tel:26-43-70'} 26-43-70
          .col-md-4.col-sm-4
            %h3
              %strong Панамарева Татьяна Александровна&nbsp;
            %p
              Паспортный стол
              %a{href: 'tel:26-43-70'} 26-43-70



  //.INTRO END
  %section#offer
    .container
      .row.alert.alert-info
        .h1.text-center
          Круглосуточный телефон:
          %a{href: 'tel:+7(3462)71-24-33'} +7(3462)71-24-33

  / /.OFFFER END
  %section#just-intro
    .container
      .row.text-center.pad-row
        .col-md-4.col-sm-4
          %i.fa.fa-desktop.fa-5x
          %h4
            %strong Sure Quique Menu
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %a.btn.btn-primary{:href => "#"} Read Details
        .col-md-4.col-sm-4
          %i.fa.fa-flask.fa-5x
          %h4
            %strong Sure Quique Menu
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %a.btn.btn-primary{:href => "#"} Read Details
        .col-md-4.col-sm-4
          %i.fa.fa-pencil.fa-5x
          %h4
            %strong Sure Quique Menu
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %a.btn.btn-primary{:href => "#"} Read Details
