.custom-page-header
  height: 200px
  &.green
    @include background-image(linear-gradient($green, $light-green))
  h1
    padding-top: 50px
    padding-left: 20px
    color: #fff
    small
      padding-left: 20px
      color: #cccccc

.navbar.navbar-static-top.without-margin-buttom
  margin-bottom: 0px

.grass-block
  background-image: image-url('bigtrava.jpg')
  height: 100px
  margin-top: 30px